.element {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: $layer-notification;
    transform: translateY(-100%);
    width: 100%;
    padding: 20px $mobile-section-side-gap;
    background-color: $color-grassy-green;
    box-shadow: 0 2px 100px 0 $color-black;
    color: $color-white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s linear;


    @include desktop {
        padding: 20px $desktop-section-side-gap;
        font-size: 24px;
    }

    &._error {
        background-color: $color-vermillion;
    }

    &:global(.is-active) {
        opacity: 1;
        transform: translateY(0);
    }

    a {
        color: inherit;
        font-size: inherit;
    }
}
