@import 'variables';

.#{$glide-class} {
    $this: &;

    $se: $glide-element-separator;
    $sm: $glide-modifier-separator;

    &#{$se}arrow {
        position: absolute;
        top: 50%;
        opacity: 1;
        z-index: 2;
        display: block;
        transform: translateY(-50%);
        padding: 9px 12px;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 4px;
        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
        color: white;
        line-height: 1;
        text-transform: uppercase;
        text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: opacity 150ms ease, border 300ms ease-in-out;

        &:focus { outline: none; }
        &:hover { border-color: white; }

        &#{$sm}left {
            left: 2em;
        }

        &#{$sm}right {
            right: 2em;
        }

        &#{$sm}disabled {
            opacity: 0.33;
        }
    }

    &#{$se}bullets {
        position: absolute;
        bottom: 2em;
        left: 50%;
        z-index: 2;
        display: inline-flex;
        transform: translateX(-50%);
        list-style: none;
    }

    &#{$se}bullet {
        width: 9px;
        height: 9px;
        margin: 0 0.25em;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid transparent;
        border-radius: 50%;
        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
        line-height: 0;
        cursor: pointer;
        transition: all 300ms ease-in-out;

        &:focus {
            outline: none;
        }

        &:hover,
        &:focus {
            background-color: rgba(255, 255, 255, 0.5);
            border: 2px solid white;
        }

        &#{$sm}active {
            background-color: white;
        }
    }

    &#{$sm}swipeable {
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

    &#{$sm}dragging {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
}
