@import "variables";

.#{$glide-class} {
    $this: &;

    $se: $glide-element-separator;
    $sm: $glide-modifier-separator;

    box-sizing: border-box;
    position: relative;
    width: 100%;

    &#{$se}track {
        overflow: hidden;
    }

    &#{$se}slides {
        display: flex;
        flex-wrap: nowrap;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        width: 100%;
        list-style: none;
        touch-action: pan-Y;

        &#{$glide-modifier-separator}dragging {
            user-select: none;
            will-change: transform;
        }
    }

    &#{$se}slide {
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;

        a {
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-user-drag: none;
        }
    }

    &#{$se}arrows {
        user-select: none;
        -webkit-touch-callout: none;
    }

    &#{$se}bullets {
        user-select: none;
        -webkit-touch-callout: none;
    }

    &#{$sm}rtl {
        direction: rtl;
    }

    * {
        box-sizing: inherit;
    }
}
